{{page-title "App build by Ember.js"}}

<h2 id="title">UA Songs</h2>

<div class="bg-blue-900 text-gray-100 p-8 h-screen">
  <div class="mx-auto mb-4">
    <div class="h-12 flex items-center mb-4 border-b-2">
      <a href="#">
        <h1 class="font-bold text-2xl">
          Rock & Roll
          <span class="font-normal">with Octane</span>
        </h1>
      </a>
    </div>

    <ul>
      {{#each
        (array
          (hash title="Maiak" band="HARDKISS" rating=5)
          (hash title="Bronia" band="Jerry Heil" rating=4.9)
        )
        as |song|
      }}
        <li>
          {{song.title}}
          by
          {{song.band}}
          ({{song.rating}})
          {{song.band.manager}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>